{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block main %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="text-center text-red-500 text-3xl mb-3" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1 class="text-center text-black dark:text-white text-5xl sm:text-6xl mb-5">
        Formulario de registro
    </h1>

    <div class="text-black dark:text-white">
        
        {{ form_start(registrationForm,{'attr': {'class': '
            flex flex-col justify-center items-center'}}) }}

            <div class="text-center text-red-500 text-3xl mb-5">
                {{ form_errors(registrationForm.email) }}
            </div>
            <div class="text-center text-red-500 text-3xl mb-5">
                {{ form_errors(registrationForm.plainPassword) }}
            </div>
            {# <div class="text-center text-red-500 text-3xl mb-5">
                {{ form_errors(registrationForm.agreeTerms) }}
            </div> #}

            <div class="flex justify-start flex-row">
                <div class="flex flex-col sm:text-3xl text-2xl justify-center items-end">
                    <h2 class="mx-5 mb-7">
                        Email: 
                    </h2>

                    <h2 class="mx-5">
                        Contraseña: 
                    </h2>
                </div>

                <div class="flex flex-col text-3xl">
                    
                    <div class="mb-7">
                        {{ form_widget(registrationForm.email ,{'attr': {'class': '
                        bg-slate-200 dark:bg-slate-800 rounded-md sm:h-11 h-5 
                        w-[12rem] sm:w-[30rem] sm:text-3xl text-xl p-3'}}) }}
                    </div>

                    <div class="">
                        {{ form_widget(registrationForm.plainPassword ,{'attr': {'class': '
                        bg-slate-200 dark:bg-slate-800 rounded-md sm:h-11 h-5 
                        w-[12rem] sm:w-[30rem] sm:text-3xl text-xl p-3'}}) }}
                    </div>

                </div>
            </div>
            
            
            <div class="flex flex-row text-3xl mt-7">
                <h2 class="mx-5">
                    Aceptar los terminos 
                </h2>

                <div class="">
                    {{ form_widget(registrationForm.agreeTerms ,{'attr': {'class': '
                    '}}) }}
                </div>
            </div>
            {# {{ form_row(registrationForm.agreeTerms) }}   #}

            <button type="submit" 
            class="btn mt-7 p-7 rounded-full bg-slate-200 dark:bg-slate-800 text-4xl text-black dark:text-white
            ">
                Registrate
            </button>

            {{ form_rest(registrationForm) }}

        {{ form_end(registrationForm) }}
    </div>
    

{% endblock %}
