{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}

{# texto gris porque no se como manejar modo oscuro/claro en el panel admin #}
<div class="text-gray-500 m-11">
    <h1 class="">Opiniones no revisadas</h1>

    <table class="table">
        <thead>
            <tr class="text-gray-500 ">
                <th>ID</th>
                <th>Comentario</th>
                <th>Professor</th>
                <th>Asignatura, Grado y Universidad</th>
                <th class="text-right">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for opinion in opinions %}
                <tr class="text-gray-500">
                    <td >{{ opinion.id }}</td>
                    <td >{{ opinion.comment }}</td>
                    <td >{{ opinion.professor }}</td>
                    <td>
                    {% if opinion.subject %}
                        {{ opinion.subject }} --
                        {{ opinion.subject.getDegree() }} --
                        {{ opinion.subject.getDegree().getUniversity() }}
                    {% else %}
                        {% for subject in opinion.professor.getSubject() %}
                            {{ subject.name }} -- 
                            {{ subject.degree }} -- 
                            {{ subject.degree.getUniversity() }}
                            {% if not loop.last %}, {% endif %}
                        {% endfor %}
                    {% endif %}
                    </td>
                    <td class="text-right">
                        <a href="{{ path('admin_accept_opinion', {id: opinion.id}) }}" class="btn btn-success">Aceptar</a>
                        <a href="{{ path('admin_reject_opinion', {id: opinion.id}) }}" class="btn btn-danger">Rechazar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    
{% endblock %}
