{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}

{# texto gris porque no se como manejar modo oscuro/claro en el panel admin #}
<div class="text-gray-500 m-11">
    <h1 class="">Opiniones no revisadas</h1>

    <table class="table">
        <thead>
            <tr class="text-gray-500 ">
                <th>ID</th>
                <th>Comentario</th>
                <th>Professor</th>
                <th>Asignatura, Grado y Universidad</th>
                <th class="text-right">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for opinion in opinions %}
                <tr class="text-gray-500">
                    <td >{{ opinion.id }}</td>
                    <td >{{ opinion.comment }}</td>
                    <td >{{ opinion.professor }}</td>
                    <td>
                    {% if opinion.professor == null %}
                        {{ opinion.subject }} --
                        {{ opinion.subject.getDegree() }} --
                        {{ opinion.subject.getDegree().getUniversity() }}
                    {% else %}
                        {% for relation in opinion.professor.getRelationsSubjectProfessor() %}
                            {{ relation.subject.getName() }} -- 
                            {{ relation.subject.getDegree() }} -- 
                            {{ relation.subject.getDegree().getUniversity() }}
                            <br>
                        {% endfor %}
                    {% endif %}

                    <td class="text-right">
                        <!-- Botón Aceptar -->
                        <a href="{{ path('admin_accept_opinion', {id: opinion.id}) }}" class="btn btn-success">Aceptar</a>

                        <!-- Formulario de Rechazo -->
                        <form action="{{ path('admin_reject_opinion', {id: opinion.id}) }}" method="post" class="inline-block">
                            <input type="text" name="rejectReason" placeholder="Motivo del rechazo" required>
                            <button type="submit" class="btn btn-danger">Rechazar</button>
                        </form>
                    </td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    
{% endblock %}
