{# templates/opinion/new.html.twig #}

{% extends 'base.html.twig' %}

{% block main %}

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var ratingOptions = document.getElementsByClassName('hidden-rating');

            for (var i = 0; i < ratingOptions.length; i++) {
                ratingOptions[i].addEventListener('change', function() {

                    var selected = document.querySelector('.rating-label.bg-slate-300');
                    
                    if (selected) {
                        selected.classList.remove('bg-slate-300');
                        selected.classList.remove('dark:bg-slate-900');
                    }


                    if (this.checked) {
                        this.parentElement.classList.add('bg-slate-300');
                        this.parentElement.classList.add('dark:bg-slate-900');
                    }
                });
            }
        });
    </script>

    <div class="flex justify-center items-center text-black dark:text-white
    text-4xl flex-col">

        <h1 class="m-5 text-5xl">Nueva opinión sobre {{ object.getName() }}</h1>

        {# {{ form(form) }} #}
        {{ form_start(form) }}
        <div class="text-black dark:text-white">

            <div class="mb-7 mt-3">
                {# {{ form_label(form.comment) }} #}
                <h2 class="my-5">Comentario: </h2>
                
                <h3 class="my-3 text-xl">Aviso: el comentario debe cumplir unas normas y será enviado a revisión antes de publicarse.</h3>
                {# todo: elaborar las normas y mostrarlas #}

                <div class="text-black dark:text-white">
                    {# {{ form_widget(form.comment) }} #}
                    {{ form_widget(form.comment, {'attr': {'class': '
                    border-0 dark:bg-slate-800 w-full p-2 border border-gray-300 rounded-xl 
                    h-80 w-[66rem] bg-slate-200'}}) }}

                </div>
            </div>

            {# <div class="my-14">
                <h2 class="my-5">Valoración del 1 al 5:</h2>
                <div class="flex flex-row space-x-2">
                    {{ form_widget(form.givenScore, {'attr': {'class': 'mx-3 text-white font-semibold p-2 rounded-md cursor-pointer'}}) }}
                </div>

            </div> #}
            
            <div class="flex items-center justify-center flex-col ">
                <h2 class="my-5 ">Valoración general: </h2>

                <div class="flex flex-row space-x-2 bg-slate-200 dark:bg-slate-800 p-5 rounded-xl ">

                    {% for choice_form in form.givenScore %}
                        <label for="{{ choice_form.vars.id }}" class="rating-label cursor-pointer p-4 rounded-md">
                            {% if choice_form.vars.value == '' %}
                                Ninguna
                            {% else %}
                                <img class="w-12" src="/img/rating-{{ choice_form.vars.value }}.png" alt="Rating {{ choice_form.vars.value }}">
                            {% endif %}
                            {{ form_widget(choice_form, {'attr': {'class': 'hidden-rating'}}) }}
                        </label>
                    {% endfor %}

                </div>

            </div>

            </div>
                <div class="text-center ">
                    {# <h2>Enviar!</h2> #}
                    {# {{ form_widget(form.Enviar, {'attr': {'class': 'btn btn-success'}}) }} #}
                    {{ form_widget(form.Enviar, {'attr': {'class': 'text-5xl
                    py-5 px-36 bg-slate-200 dark:bg-slate-800 text-center rounded-full m-11'}}) }}
                </div>
            </div>


        {{ form_end(form) }}


    </div>

    

    

{% endblock %}
