{# templates/edit_opinion/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Editar opinión sobre {{ object.getName() }}{% endblock %}

{% block main %}

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var ratingOptions = document.getElementsByClassName('hidden-rating');

            for (var i = 0; i < ratingOptions.length; i++) {
                ratingOptions[i].addEventListener('change', function() {

                    var selected = document.querySelector('.rating-label.bg-slate-300');
                    
                    if (selected) {
                        selected.classList.remove('bg-slate-300');
                        selected.classList.remove('dark:bg-slate-900');
                    }

                    if (this.checked) {
                        this.parentElement.classList.add('bg-slate-300');
                        this.parentElement.classList.add('dark:bg-slate-900');
                    }
                });

                // Verifica si alguna opción está seleccionada al cargar la página
                if (ratingOptions[i].checked) {
                    ratingOptions[i].parentElement.classList.add('bg-slate-300');
                    ratingOptions[i].parentElement.classList.add('dark:bg-slate-900');
                }
            }
        });
    </script>

    <div class="flex justify-center items-center text-black dark:text-white
    text-4xl flex-col">

        <h1 class="sm:m-5 m-1 sm:text-5xl text-3xl text-center">Editar opinión sobre {{ object.getName() }}</h1>

        {# {{ form(form) }} #}
        {{ form_start(form) }}
        <div class="text-black dark:text-white">

            <div class="mb-7 mt-3 mx-1">
                {# {{ form_label(form.comment) }} #}
                <h2 class="my-5 text-center">Comentario: </h2>
                <h3 class="my-2 text-xl text-center">Aviso: si se edita el comentario volverá a ser enviado a revisión.</h3>
                <div class="text-black dark:text-white text-xl sm:text-3xl">
                    {# {{ form_widget(form.comment) }} #}
                    {{ form_widget(form.comment, {'attr': {'class': '
                    border-0 dark:bg-slate-800 w-full p-2 border border-gray-300 rounded-xl 
                    lg:h-80 h-56 mx-1 lg:w-[60rem] bg-slate-200'}}) }}

                </div>
            </div>
            
            <div class="flex items-center justify-center flex-col ">
                <h2 class="my-5 ">Valoración general: </h2>

                <div class="flex flex-row space-x-2 bg-slate-200 dark:bg-slate-800 sm:p-5 p-2 rounded-xl text-xl sm:text-3xl flex items-center ">

                    {% for choice_form in form.givenScore %}
                        <label for="{{ choice_form.vars.id }}" class="rating-label cursor-pointer px-1 py-2 sm:p-4 rounded-md">
                            {% if choice_form.vars.value == '' %}
                                Ninguna
                            {% else %}
                                <img class="w-12" src="/img/rating-{{ choice_form.vars.value }}.png" alt="Rating {{ choice_form.vars.value }}">
                            {% endif %}
                            {{ form_widget(choice_form, {'attr': {'class': 'hidden-rating'}}) }}
                        </label>
                    {% endfor %}

                </div>

            </div>

            </div>
                <div class="text-center ">
                    {# <h2>Enviar!</h2> #}
                    {# {{ form_widget(form.Enviar, {'attr': {'class': 'btn btn-success'}}) }} #}
                    {{ form_widget(form.Enviar, {'attr': {'class': 'sm:text-5xl text-3xl
                    py-5 sm:px-36 px-16 bg-slate-200 dark:bg-slate-800 text-center rounded-full m-11'}}) }}
                </div>
            </div>

        {{ form_end(form) }}

    </div>

{% endblock %}
