{% extends 'base.html.twig' %}

{% block title %}{{ degree.name }} ({{ university.name }}) en UniOpinions{% endblock %}

{% block meta_description %}
    <meta name="description" content="Consulta las asignaturas de {{ degree.name }} ({{ university.name }}) y conoce las opiniones y valoraciones de otros estudiantes.">
{% endblock %}

{% block main %}

    <script>
    document.addEventListener('DOMContentLoaded', function() {
        // Selecciona todos los headers.
        let yearHeaders = document.querySelectorAll('.year-header');
        
        yearHeaders.forEach(function(header) {
            header.addEventListener('click', function() {
                // Encuentra la lista de asignaturas después del header y alterna su visibilidad.
                let subjectList = header.nextElementSibling;
                subjectList.classList.toggle('hidden');

                // Cambia la visibilidad de los iconos.
                let iconDown = header.querySelector('.show-icon');
                let iconUp = header.querySelector('.hide-icon');
                iconDown.classList.toggle('hidden');
                iconUp.classList.toggle('hidden');
            });
        });
    });
    </script>

    <h2 class="text-black dark:text-white text-xl">
        <a class="my-1 inline-block" href="/universities">Universidades</a>
        <span class="mx-1">></span>
        <a class="my-1 inline-block" href="/u/{{ university.slug }}"> {{ university.name }}</a>
        <span class="mx-1">></span>
        <a class="my-1 inline-block" href="/u/{{ university.slug }}/{{ degree.slug }}"> {{ degree.name }}</a>
    </h2>

    <h1 class="text-black dark:text-white text-5xl text-center my-7">
        Asignaturas
    </h1>

    {% set yearTranslations = {1: 'Primer año', 2: 'Segundo año', 3: 'Tercer año', 4: 'Cuarto año', 5: 'Quinto año', 6: 'Sexto año'} %}

    {% for year, subjects in subjects %}

        <div class="flex flex-row items-center justify-center year-header cursor-pointer mb-2" data-year="{{ year }}">
            <h2 class="text-black dark:text-white text-2xl mx-0  mb-2">
                {{ yearTranslations[year]|default('desconocido') }}
            </h2>
            
            {# icono sin desplegar #}
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-black dark:stroke-white icon icon-tabler icon-tabler-chevron-compact-down mb-1 ml-1 show-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M4 11l8 3l8 -3" fill="none"></path>
            </svg>

            {# icono desplegado #}
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-black dark:stroke-white icon icon-tabler icon-tabler-chevron-compact-up mb-1 ml-1 hide-icon hidden" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M4 13l8 -3l8 3" fill="none"></path>
            </svg>
        </div>

        {# <ul class="subject-list text-center sm:text-left text-xl dark:text-white text-black mt-5 mx-0 sm:mx-[19%] hidden"> #}
        <ul class="text-center sm:text-left text-xl dark:text-white text-black mx-0 sm:mx-[19%] hidden">

        {% for subject in subjects %}
            <li>
                <a href="{{ path('app_subject', { universitySlug: university.getSlug(), degreeSlug: degree.getSlug(), subjectSlug: subject.getSlug() }) }}" 
                
                class="rounded-2xl p-3 my-4 bg-slate-200 dark:bg-slate-800 flex flex-row 
                    mx-auto hover:bg-slate-300 dark:hover:bg-slate-900 justify-center sm:justify-start">
                        {{ subject.getName() }}
                </a>
            </li>
        {% endfor %}

        </ul>
    
    {% endfor %}


    <div class="text-center text-xl dark:text-white text-black mt-7 mx-0 sm:mx-[19%]">
        <a href="{{ path('app_create_generic_opinion', { universityId: university.id, degreeId: degree.id }) }}" 
        class="rounded-2xl p-3 my-4 bg-slate-200 dark:bg-slate-800 flex flex-row 
            mx-auto hover:bg-slate-300 dark:hover:bg-slate-900 justify-center sm:justify-start">
                ¿Quieres opinar sobre una asignatura o profesor pero no está la asignatura aquí? Haz click en este botón.
        </a>
    </div>
        
{% endblock %}